{% extends 'base.html' %}
{% block content %}
<div class="auth-form">
    <h2>{% if edit_mode %}Редактировать проект или достижение{% else %}Добавить проект или достижение{% endif %}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if edit_mode %}Сохранить изменения{% else %}Сохранить{% endif %}</button>
    </form>
    <p style="margin-top:20px; color:#888;">
        {% if edit_mode %}
            После сохранения изменения будут отправлены на модерацию.
        {% else %}
            После сохранения проект будет отправлен на модерацию.
        {% endif %}
    </p>
</div>
{% endblock %}
