{% extends 'base.html' %}
{% block content %}
<div class="auth-form">
    <h2>Регистрация прошла успешно!</h2>
    {% if user_type == 'student' %}
        <p>Ваш профиль студента отправлен на утверждение. Администратор проверит данные и одобрит отображение на доске почета.</p>
    {% else %}
        <p>Ваш аккаунт работодателя отправлен на утверждение. После проверки вы получите доступ к запросам контактных данных студентов.</p>
    {% endif %}
    <a href="/">На главную</a>
</div>
{% endblock %}
