{% extends "admin/base_site.html" %}

{% block content %}
<div class="module">
    <h1>Администрирование</h1>
    <p>Бизнес-сценарии вынесены в отдельный кабинет менеджера. Здесь остаётся только техническая админка Django.</p>
    <div class="dashboard-buttons">
        <p><a class="button" href="{% url 'manager_dashboard' %}">Открыть кабинет менеджера</a></p>
        <p><a class="button" href="{% url 'manager_assign_role' %}">Создать пользователя / назначить менеджера</a></p>
    </div>
</div>
{% endblock %}
